[workspace]
name = "dynamixel"
version = "0.1.0"
description = "Add a short description here"
authors = ["Miguel Villa Floran <miguel.villafloran@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
lab1 = "python lab1.py"
lab2_2 = "python lab2_2.py"
lab2_4 = "python lab2_4.py"
lab3_2 = "python lab3_2.py"
lab3_3 = "python lab3_3.py"

[dependencies]
pre-commit = ">=4.3.0,<5"
python = "3.12.*"
dynamixel-sdk = "==3.8.4"
ipykernel = ">=6.30.1,<7"
jaxtyping = ">=0.3.2,<0.4"
beartype = ">=0.22.2,<0.23"

[pypi-dependencies]
numpy = ">=2.3.3, <3"
matplotlib = ">=3.10.6, <4"
opencv-python = ">=4.11.0.86, <5"
pyapriltags = ">=3.3.0.3, <4"

[target.linux-64.dependencies]
jax = "*"

[target.linux-64.pypi-dependencies]
pyrealsense2 = ">=2.54.2, <3"

[target.win-64.pypi-dependencies]
pyrealsense2 = ">=2.54.2, <3"

[target.osx-64.dependencies]
jax = "*"

[target.osx-64.pypi-dependencies]
pyrealsense2-macosx = ">=2.54.2, <3"

[target.osx-arm64.dependencies]
jax = "*"

[target.osx-arm64.pypi-dependencies]
pyrealsense2-macosx = ">=2.54.2, <3"

[tool.ruff]
extend-exclude = [
  "__pycache__",
  "docs",
  "site",
  ".eggs",
  ".git",
  ".venv",
  "build",
  "dist",
  "notebooks",
  ".cache",
]
line-length = 120

[tool.ruff.lint]
ignore = [
  "E402",   # Module level import not at top of file
  "E501",   # Line too long
  "E203",   # Whitespace before ':' -> conflicts with black
  "D401",   # First line should be in imperative mood
  "RET504", # Unnecessary variable assignment before return statement
  "RET505", # Unnecessary elif after return statement
  "SIM102", # Use a single if-statement instead of nested if-statements
  "SIM117", # Merge with statements for context managers that have same scope
  "SIM118", # Checks for key-existence checks against dict.keys() calls
]
select = ["E", "F", "I"]

[tool.ruff.lint.per-file-ignores]
"*/__init__.py" = ["F401"] # Unused import

[tool.ruff.lint.isort]
known-first-party = ["dynamixel", "classes"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.mccabe]
max-complexity = 30

[tool.mypy]
exclude = "^.tmp/"
ignore_missing_imports = true

[tool.bandit]
skips = ['B101']

[tool.pytest.ini_options]
cache_dir = ".pytest_cache"
pythonpath = [".", "scripts", "src", "classes"]
